@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Calistoga|Nanum+Gothic|Roboto+Slab|Oxygen+Mono|Space+Mono&display=swap');

div.tooltip {
    font-family: 'Space Mono', monospace;
    position: absolute;
    text-align: left;
    /*width: 100px;*/
    /*height: 40px;*/
    padding: 10px;
    /*font: 18px sans-serif;*/
    background: rgba(0, 0, 0, 1);
    color: white;
    /*text-shadow: #fff 1px 0 10px;*/
    border: 0px;
    /*border-radius: 8px;*/
    pointer-events: none;
}

div.tooltip div {
    display: inline-block;
}

body {
    background-color: #F3F1E5;
    /*background-color: #F3F1E5;*/
    width: 100%;
    /*margin-top: 200px; !* TODO: modify page layout *!*/
}

#dataSelectionAndDetails {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#dropdownListsContainer {
    /*width: 70%;*/
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.selection-box {
    margin: 5px;
    font-family: "Space Mono", monospace;
}

.box-title {
    /*font-family: "Space Mono", monospace;*/
    text-transform: uppercase;
}

#wepTopDropdownList {
    background-color: #b06161;
}

#wepBottomDropdownList {
    background-color: #686847;
}

#info {
    margin: 2vh;
    display: block;
    width: 70%;
    font: 15px sans-serif;
    font-family: Arial, sans-serif;

    height: 30vh;
}

#peaceProcessName {
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 10px;
    /*font-family: 'Roboto Slab', serif;*/
    text-transform: uppercase;
    font-size: 2vh;
}

#agreementTitle {
    /*font-family: 'Roboto Slab', serif;*/
    font-family: 'Calistoga', cursive;
    width: 70%;
    font-size: 3.5vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    letter-spacing: 2px;
    /* TODO: modify page layout */
}

#info h2 {
    font-family: 'Noto Serif', serif;
    font-size: 2vh;
    letter-spacing: 3px;
}

#levelOfDetail {
    display: inline-block;
    font-family: "Nanum Gothic", sans-serif;
    /*background-color: #D85A78;*/
    color: #ffffff;
    border: 10px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    text-transform: uppercase;
}

#signedDate {
    /*font-family: 'Roboto Slab', serif;*/
}

#status {
    text-transform: capitalize;
}

#agreementType {
    text-transform: capitalize;
}

#svgContainer {
    /*background-color: #F3F1E5;*/
    width: 100%;
    /*height: 50vh;*/
    /*border: 1px solid #aaa;*/
    overflow: hidden;
}

#svgWrapper {
    height: 100%;
    margin-bottom: -50px; /* maximum width of scrollbar */
    padding-bottom: 50px; /* maximum width of scrollbar */
    overflow-y: hidden;
    overflow-x: scroll;
}

svg {
    z-index: 1;
    /*height: 100%;*/
    margin: 0px auto;
    display: block;
    /*    overflow-x: hidden;*/
/
}

#timeline text {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    opacity: 0.3;
    z-index: 1;
    pointer-events: none;
    /*font-weight: 700;*/
    /*stroke: black;*/
    /*stroke-width: 2px;*/
    /*fill: black;*/
    /*letter-spacing: 10px;*/

}

.agreementMark {
    z-index: 3;
}

.line {
    fill: none;
    /*stroke: #686847;*/
    stroke-width: 6px;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    #info {
        color: white;
    }

    rect {
        fill: white;
    }

    #timeline {
        fill: red;
        stroke: white;
    }

    #timeline text {
        fill: white;
        opacity: 0.5;
    }

    .dot {
        fill: white;
    }
}