div.tooltip {
    font-family: 'Oxygen Mono', monospace;
    position: absolute;
    text-align: left;
    /*width: 100px;*/
    /*height: 40px;*/
    padding: 10px;
    /*font: 18px sans-serif;*/
    background: rgba(0, 0, 0, 1);
    color: white;
    /*text-shadow: #fff 1px 0 10px;*/
    border: 0px;
    /*border-radius: 8px;*/
    pointer-events: none;
}

body {

    background-color: #F3F1E5;
    /*background-color: #F3F1E5;*/
    width: 100%;
    margin-top: 200px; /* TODO: modify page layout */
}

#info {
    display: block;
    width: 70%;
    font: 15px sans-serif;
    font-family: Arial, sans-serif;
    margin: 0px auto;
    height: 40vh;
}

#peaceProcessName {
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 10px;
    /*font-family: 'Roboto Slab', serif;*/
    text-transform: uppercase;
    font-size: 2vh;
}

#agreementTitle {
    /*font-family: 'Roboto Slab', serif;*/
    font-family: 'Calistoga', cursive;
    font-size: 4vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    /* TODO: modify page layout */
}

#info h2 {
    font-family: 'Noto Serif', serif;
    font-size: 2vh;
}

#signedDate {
    /*font-family: 'Roboto Slab', serif;*/
}

#status {
    text-transform: capitalize;
}

#agreementType {
    text-transform: capitalize;
}

#svgContainer {
    /*background-color: #F3F1E5;*/
    width: 100%;
    /*height: 50vh;*/
    /*border: 1px solid #aaa;*/
    overflow: hidden;
}

#svgWrapper {
    height: 100%;
    margin-bottom: -50px; /* maximum width of scrollbar */
    padding-bottom: 50px; /* maximum width of scrollbar */
    overflow-y: hidden;
    overflow-x: scroll;
}

svg {
    z-index: 1;
    /*height: 100%;*/
    margin: 0px auto;
    display: block;
    /*    overflow-x: hidden;*/
/
}

#timeline {

}

#timeline text {
    font-family: 'Space Mono', monospace;
    font-size: 3vh;
    opacity: 0.3;
    z-index: 1;
    pointer-events: none;
    /*font-weight: 700;*/
    /*stroke: black;*/
    /*stroke-width: 2px;*/
    /*fill: black;*/
    /*letter-spacing: 10px;*/

}

.agreementMark {
    z-index: 3;
}

.line {
    fill: none;
    /*stroke: #686847;*/
    stroke-width: 6px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    #info {
        color: white;
    }

    rect {
        fill: white;
    }

    #timeline {
        fill: red;
        stroke: white;
    }

    #timeline text {
        fill: white;
        opacity: 0.5;
    }

    .dot {
        fill: white;
    }
}